$background-color-1: #FAFAFA;
$background-color-2: #FFF;
$background-color-3: #aaa;
$background-color-4: #122c8b;
$background-color-5: #ccc;

$text-color-1: #494C6B;
$text-color-2: #555;
$text-color-3: #333;
$text-color-4: #D1D2DA;
$text-color-5: #9495A5;

$primary-1: #3A7CFD;
$primary-2: #174fbd;

$error-color: #e63946;
$border-color-1: #dcdfe6;
$border-color-2: #E3E4F1;